
<h1>
  Hello <%= @email %>
</h1>

===============================================

<p>
  You've requested a password recovery. 
  Let's make you a new password, please click the link below.

  <%= link_to "New password", new_password_url(@user)%>
</p>



<p>
  Thanks for your request and have a great day!
</p>

